---
- name: Update apt cache (allow unauthenticated for archive)
  ansible.builtin.apt:
    update_cache: yes
    allow_unauthenticated: yes

- name: Install Docker on Debian/Ubuntu
  ansible.builtin.apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Ensure Docker is installed
  ansible.builtin.package:
    name: docker.io
    state: present

# Creating of volumes
- name: Create network for monitoring
  community.docker.docker_network:
    name: monitor
    state: present

- name: Create volume for Prometheus (Persistant data)
  community.docker.docker_volume:
    name: prometheus-data
    state: present

- name: Create volume for grafana (Persistant data)
  community.docker.docker_volume:
    name: grafana-data
    state: present

- name: Ensure Prometheus config directory exists
  ansible.builtin.file:
    path: /etc/prometheus
    state: directory
    owner: root
    group: root
    mode: '0755'


- name: Import prometheus config
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    mode: '0644'


- name: Ensure Grafana cfg dir exists
  ansible.builtin.file:
    path: /etc/grafana
    state: directory
    mode: '0755'

- name: Deploy grafana cfg
  ansible.builtin.template:
    src: grafana.ini.j2
    dest: /etc/grafana/grafana.ini
    mode: '0644'

- name: Start node-exporter
  community.docker.docker_container:
    name: node-exporter
    image: "prom/node-exporter:v1.2.2"
    state: started
    restart_policy: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    published_ports:
      - "9100:9100"
    networks:
      - name: monitor

- name: Start Prometheus
  community.docker.docker_container:
    name: "Prometheus"
    image: "prom/prometheus:v2.31.1"
    state: started
    restart_policy: unless-stopped
    recreate: yes
    volumes:
      - /etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--storage.tsdb.retention.time=24h"
      - "--web.enable-lifecycle"
    published_ports:
      - "9090:9090"
    networks:
      - name: monitor

- name: Start Grafana
  community.docker.docker_container:
    name: "Grafana"
    image: "grafana/grafana:8.2.4"
    state: started
    restart_policy: unless-stopped
    volumes:
      - grafana-data:/var/lib/grafana
      - /etc/grafana/grafana.ini:/etc/grafana/grafana.ini
    networks:
      - name: monitor
    published_ports:
      - "3000:3000" # <-- Change to grafana port

- name: Start Alertmanager
  community.docker.docker_container:
    name: "Alertmanager"
    image: "prom/alertmanager"
    state: started
    restart_policy: always
    published_ports:
      - "9093:9093"
