groups:
- name: flask-error
  rules:

  - alert: AlwaysFiringTest
    expr: vector(1)
    for: 10s
    labels:
      severity: test
    annotations:
      summary: "Test alert"
      description: "This alert always fires"

  - alert: MicroblogIndexErrorBurst
    expr: increase(microblog_errors_total{type="IndexError"}[30s]) > 0
    for: 30s
    labels:
      severity: warning

  - alert: HighMicroblogErrorRate
    expr: rate(microblog_errors_total{type="IndexError"}[30s]) * 60 > 20
    for: 30s
    labels:
      severity: warning
    annotations:
      summary: "High rate of IndexError errors on Flask app"
      description: "More than 20 IndexError errors per minute on Flask app"