- hosts: appservers_group
  become: yes
  serial: 1 # Rolling Update variabel
  vars:
    db_host: "{{ groups['databases_group'][0] }}"
    correct_image: "maacke16/microblog:{{ release_tag }}-prod"
    # correct_image: "maacke16/microblog:14.0.1-prod"


  tasks:
    - name: Debug DB HOST
      debug:
        msg: "DB HOST = {{ db_host }}"

    - name: Removing old container
      community.docker.docker_container:
        name: microblogg
        state: absent

    - name: Starting microblogg
      community.docker.docker_container:
        name: microblogg
        # image: "maacke16/microblog:14.0.1-prod"
        image: "maacke16/microblog:{{ release_tag }}-prod"
        state: started
        restart_policy: always
        env:
          SECRET_KEY: "my-secret-key"
          DATABASE_URL: "mysql+pymysql://microblog:password@{{ db_host }}/microblog"
        published_ports:
          - "5000:5000"


    - name: Checking container health
      community.docker.docker_container_info:
        name: microblogg
      register: container_info
      retries: 10
      delay: 3
      until: container_info.container.State.Running

    - name: Running database migrations (DB Update)
      shell: "docker exec microblogg sh -c 'source .venv/bin/activate && flask db upgrade'"
      register: migration
      retries: 10
      delay: 3
      until: migration.rc == 0

    - name: Get current docker image version
      community.docker.docker_container_info:
        name: microblogg
      register: active_container

    - name: Fail if container is not using the latest image
      fail:
        msg: "Docker is not running the latest image"
      when: active_container.container.Config.Image != correct_image

    - name: Debug image version
      debug:
        msg:
          - "Correct image: {{ correct_image }}"
      when: active_container.container.Config.Image == correct_image
