---
- name: Update inbound firewall rule in Azure NSG
  hosts: localhost
  connection: local
  vars:
    security_group: "appserver-sg"
    loadbalancer: "mapg23.me"

  tasks:
    - name: Create/Update allow-vnet NSG rule using ARM REST API
      azure.azcollection.azure_rm_resource:
        api_version: "2023-11-01"
        resource_group: "{{ resource_group }}"
        provider: "Microsoft.Network"
        resource_type: "networkSecurityGroups"
        resource_name: "{{ security_group }}"
        subresource:
          - type: "securityRules"
            name: "allow-vnet"
        body:
          properties:
            description: "Allow LB to access appserver on port 5000"
            priority: 1012
            direction: "Inbound"
            access: "Allow"
            protocol: "Tcp"
            sourcePortRange: "*"
            destinationPortRange: "5000"
            sourceAddressPrefix: "{{ lookup('dig', loadbalancer) }}"
            destinationAddressPrefix: "*"
        state: present
