# micropassw = bWljcm9wYXNzdw==
# my-super-sexret-root-password = bXktc3VwZXItc2VjcmV0LXJvb3QtcGFzc3dvcmQ=

---

apiVersion: v1
kind: Secret
metadata:
  name: mysql-secrets
type: Opaque
data:
  ROOT_PASSWORD: bXktc3VwZXItc2VjcmV0LXJvb3QtcGFzc3dvcmQ=
  DB_PASSWORD: bWljcm9wYXNzdw==
  DB_URL: bXlzcWwrcHlteXNxbDovL3VzZXI6bWljcm9wYXNzd0BteXNxbC9taWNyb2Jsb2c=