---
- name: Set correct apt sources for Debian Buster archive
  ansible.builtin.copy:
    dest: /etc/apt/sources.list
    content: |
      deb http://archive.debian.org/debian buster main contrib non-free
      deb http://archive.debian.org/debian-security buster/updates main contrib non-free

- name: Update apt cache (allow unauthenticated for archive)
  ansible.builtin.apt:
    update_cache: yes
    allow_unauthenticated: yes

- name: Install Docker on Debian/Ubuntu
  ansible.builtin.apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Ensure Docker is installed
  ansible.builtin.package:
    name: docker.io
    state: present

- name: Show release tag
  debug:
    msg: "Deploying Docker image tag: {{ release_tag }}"

- name: Start microblogg
  community.docker.docker_container:
    name: "microblogg"
    image: "maacke16/microblog:{{ release_tag }}-prod"
    state: started
    restart_policy: always
    env:
      SECRET_KEY: "my-secret-key"
      DATABASE_URL: "mysql+pymysql://microblog:password@{{ hostvars[groups['databases'][0]].ansible_host }}/microblog"
    published_ports:
      - "5000:5000" # <-- expose container port 5000 to host 5000

- name: Debug database host
  ansible.builtin.debug:
    msg: "Running role on database host: {{ inventory_hostname }} (IP: {{ ansible_host | default('same as hostname') }})"
